h1{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    color: darkred;
    font-weight: 900;
}
body{
    background-size: cover;
    width:100%;
    height:100%;
    background-image: url(https://image.shutterstock.com/image-illustration/paint-like-graphic-illustration-nice-260nw-1252427656.jpg);
}
#hpb{
    width:100%;
}


h4{
    font-size: 30px;
    color:darkred;
}
h6{
    font-size: 25px;
    color:darkred;
}
p,b,li{
    font-size: 20px;
    font-family: sans-serif;
}
img{
    width:450px;
    height: 200px;
    float:right;
    margin-right: 20px;
}